include ../../../../components/personLogo/personLogo
include ../../../../components/button/button
include ../../components/infoField/infoField

.profile 
 .profile-left 
  a(href="/profile.html") 
 .profile-content  
  .profile-content__data 
   .profile-content__img
    + personLogo
   .profile-content__main
    + infoField('Старый пароль','password','oldPassword','testtest','false') 
    + infoField('Новый пароль','password','newPassword','','false') 
    + infoField('Повторите новый пароль','password','newPassword_repeat','','false') 
   .profile-content__option 
    + button('Сохранить')