.infoField{
 width: 510px;
 display: flex;
 justify-content: space-between;
 input{
  text-align: right;
  background: none;
  border:none;
  outline: none;
  font-size: 13px;
  line-height: 13px;
  color:#999999;
  font-weight: 500;
 }
 label{
  font-size: 13px;
  line-height: 13px;
  font-weight: 500;
  color:#1E1E1E;
 }
}